<div class="container">
    <img class="vehicle-image" src="/images/{{rekisterinumero}}.png" />
    <h1>{{rekisterinumero}}</h1>
    {{!-- <div style="font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 48;"> --}}
        {{!-- <i class="material-symbols-outlined">account_circle</i> --}}
        <img src="/icons/driver.svg" alt="Kuljettaja" width="15%" height="auto">
        <h2>{{kuljettaja}}</h2>
        <img src="/icons/reason.svg" alt="Ajon tarkoitus" width="15%" height="auto">
        <h2>{{tarkoitus}}</h2>
        <img src="/icons/time.svg" alt="Lähtöaika" width="15%" height="auto">
    <h2>{{otto}}</h2>
    {{!-- </div> --}}
</div>