<div class="container">
    <img src="/images/{{rekisterinumero}}.png" alt="Auto">
    <h1 class="align-center">{{rekisterinumero}}</h1>
        <img src="/icons/driver.svg" alt="Kuljettaja" width="15%" height="auto">
        <h2>{{kuljettaja}}</h2>
        <img src="/icons/reason.svg" alt="Ajon tarkoitus" width="15%" height="auto">
        <h2>{{tarkoitus}}</h2>
        <img src="/icons/time.svg" alt="Lähtöaika" width="15%" height="auto">
    <h2>{{otto}}</h2>
    {{!-- </div> --}}
</div>