<body>
  {{> menu }}
    <div class="card-group">

        {{!-- Look through vehicle list and render dybnamic data --}}
        {{#each vehicleList}}

        {{!-- Create a car for every vehicle and set style according to status --}}
        <div class="card-{{status}}"><img class="vehicle-image" src="/images/{{rekisterinumero}}.png" />
            <div>
                <h4 class="card-title">{{rekisterinumero}} <br>{{status}}</h4>
                <p class="card-text">{{merkki}} {{malli}}<br />henkilömäärä {{henkilomaara}}<br/>
                {{#if automaatti}}
                automaattivaihteet
                {{else}}
                manuaalivaihteet
                {{/if}}
                </p>
                    

                    {{#if ajossa}}
                    <a class="{{status}}-btn" href="/vehicleDetails?register={{rekisterinumero}}">Näytä</a>
                    {{else}}
                    <a class="{{status}}-btn" href="/vehicleDiary?register={{rekisterinumero}}">Näytä</a>
                    {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</body>