<body>
    <div class="container">
        <div class="alignment-box">
            <img class="vehicle-detail-image" src="images/{{rekisterinumero}}.png" alt="Auto">
        </div>  
            <h1 class="big-text align-center">{{rekisterinumero}}</h1>
        <div class="alignment-box">
            <table class="drive-information">
                <tr>
                    <td class="drive-information"><svg class="icon-huge icon-raseko-colors-dark"><use href="icons/autoSovellusRasekoSprites.svg#driver" /></svg></td>
                    <td class="big-text drive-information">{{kuljettaja}}</td>
                </tr>
                <tr>
                    <td class="drive-information"><svg class="icon-huge icon-raseko-colors-dark"><use href="icons/autoSovellusRasekoSprites.svg#reason" /></svg></td>
                    <td class="big-text drive-information">{{tarkoitus}}</td>
                </tr>
                <tr>
                    <td class="drive-information"><svg class="icon-huge icon-raseko-colors-dark"><use href="icons/autoSovellusRasekoSprites.svg#time" /></svg></td>
                    <td class="big-text drive-information">{{otto}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>