<body>
    <div class="card-group">
        {{#each vehicleList}}
        <div class="card"><img class="vehicle-image" src="/images/{{rekisterinumero}}.png" />
            <div class="card-body">
                <h4 class="card-title">{{rekisterinumero}}  <br>on {{status}}</h4>
                <p class="card-text">{{merkki}} {{malli}}<br />henkilömäärä {{henkilomaara}}<br />automaatti {{automaatti}}</p>
                <button class="{{status}}" type="button">Näytä</button>
            </div>
        </div>
        {{/each}}
    </div>
</body>