<div class="container">
    <img class="vehicle-image" src="/images/{{rekisterinumero}}.png" />
    <h1>{{rekisterinumero}}</h1>
    <!-- Google icon -->
    <i class="material-symbols-outlined" style="font-size: 60px; color:mediumvioletred">badge</i>
    <h2>{{kuljettaja}}</h2>
    <!-- Google icon -->
    <i class="material-symbols-outlined" style="font-size: 60px; color:mediumvioletred">local_shipping</i>
    <h2>{{tarkoitus}}</h2>
    <!-- Google icon -->
    <i class="material-symbols-outlined" style="font-size: 60px; color:mediumvioletred">nest_clock_farsight_analog</i>
    <h2>{{otto}}</h2>
</div>