<body>
    <div>
    {{> menu}}
    </div>
    <div class="container">
        <div id="map">
            <h1 class="modern-header">Auton {{rekisteri}} sijainti</h1>

            {{!-- It is very important to define height for the map and give a id for it --}}
            <div class="map-frame" id="mapid"></div>

            <script>
                // Initialize the map and set its view to the specified coordinates and zoom level
                let rasekomap = L.map('mapid').setView([{{lat}}, {{lon}}], 16);

                // Add a tile layer to the map (OpenStreetMap tiles)
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
                    maxZoom: 19,
                }).addTo(rasekomap);

                // Add a marker at the specified coordinates
                let marker = L.marker([{{lat}}, {{lon}}]).addTo(rasekomap);

                // Popup for the marker
                // If data is sent directly to popup, it will handel it as name of variable
                // Building ID is read from invisible elements in the begining of the page using getElementById method
                // It can also be translated into strin using `{{buildingId}}`-form
                let info = document.getElementById('bid')
                marker.bindPopup(info).openPopup();
            </script>
        </div>
    </div>
</body>